<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/Public/admin/assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/Public/admin/css/style.css"/>
<link rel="stylesheet" href="/Public/admin/assets/css/font-awesome.min.css" />
<link href="/Public/admin/assets/css/codemirror.css" rel="stylesheet">
<link rel="stylesheet" href="/Public/admin/font/css/font-awesome.min.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="/Public/admin/assets/css/ace-ie.min.css" />
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="/Public/admin/assets/css/font-awesome-ie7.min.css" />
<![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="/Public/admin/assets/css/ace-ie.min.css" />
<![endif]-->
<script src="/Public/admin/assets/js/ace-extra.min.js"></script>
<!--[if lt IE 9]>
<script src="/Public/admin/assets/js/html5shiv.js"></script>
<script src="/Public/admin/assets/js/respond.min.js"></script>
<![endif]-->
		<!--[if !IE]> -->
<script src="/Public/admin/js/jquery-1.9.1.min.js" type="text/javascript"></script>       
<!-- <![endif]-->
<script src="/Public/admin/assets/dist/echarts.js"></script>
<script src="/Public/admin/assets/js/bootstrap.min.js"></script>
<title>交易</title>
</head>

<style>
.state-overview .Info .symbol{
	padding:5px;
}
.state-overview .symbol{
	width: 32%;
}
.state-overview .value{
	width: 66%;
}
.state-overview .Info .value{
	padding-top:9px;
}
.state-overview .Info{
	width: 214px;
}
</style>

<body>
<div class=" page-content clearfix">
 <div class="transaction_style">
   <ul class="state-overview clearfix">
    <li class="Info">
     <span class="symbol red"><i class="fa fa-jpy"></i></span>
     <span class="value"><h4>交易金额</h4><p class="Quantity color_red">{$order[0]}</p></span>
    </li>
     <li class="Info">
     <span class="symbol  blue"><i class="fa fa-shopping-cart"></i></span>
     <span class="value"><h4>订单数量</h4><p class="Quantity color_red">{$order[1]}</p></span>
    </li>
     <li class="Info">
     <span class="symbol terques"><i class="fa fa-shopping-cart"></i></span>
     <span class="value"><h4>交易关闭</h4><p class="Quantity color_red">{$order[2]}</p></span>
    </li>
    <li class="Info">
     <span class="symbol terques"><i class="fa fa-shopping-cart"></i></span>
     <span class="value"><h4>订单回收站</h4><p class="Quantity color_red">{$order[3]}</p></span>
    </li>
     <li class="Info">
     <span class="symbol yellow"><i class="fa fa-shopping-cart"></i></span>
     <span class="value"><h4>售后订单</h4><p class="Quantity color_red">{$order[4]}</p></span>
    </li>
     <!-- <li class="Info">
     <span class="symbol darkblue"><i class="fa fa-jpy"></i></span>
     <span class="value"><h4>退款金额</h4><p class="Quantity color_red">3441.68</p></span>
    </li>  -->
   </ul>
 
 </div>
 <div class="t_Record">
    <div id="main" style="height:400px; overflow:hidden; width:100%; overflow:auto" ></div>     
 </div> 
</div>
<!-- <div id="order_s">{$order_state}</div> -->
<div id="order_all" style="display:none">{$order_all}</div>
<div id="notpay_order" style="display:none">{$notpay_order}</div>
<div id="pay_order" style="display:none">{$pay_order}</div>
<div id="send_order" style="display:none">{$send_order}</div>
</body>
</html>
<script type="text/javascript">
var order_all = $('#order_all').html();
var notpay_order = $('#notpay_order').html();
var pay_order = $('#pay_order').html();
var send_order = $('#send_order').html();

var order_all_s = order_all.split(",");
var notpay_order_s = notpay_order.split(",");
var pay_order_s = pay_order.split(",");
var send_order_s = send_order.split(",");

var order_all_l = new Array();
var notpay_order_l = new Array();
var pay_order_l = new Array();
var send_order_l = new Array();

for(var i in order_all_s){
    all = parseInt(order_all_s[i]);
    order_all_l.push(all);
}
for(var i in notpay_order_s){
    notp = parseInt(notpay_order_s[i]);
    notpay_order_l.push(notp);
}
for(var i in pay_order_s){
    pay = parseInt(pay_order_s[i]);
    pay_order_l.push(pay);
}
for(var i in send_order_s){
    send = parseInt(send_order_s[i]);
    send_order_l.push(send);
}

    $(document).ready(function(){
		$(".t_Record").width($(window).width()-60);
		  //当文档窗口发生改变时 触发  
        $(window).resize(function(){
		      $(".t_Record").width($(window).width()-60);
		});
    });
	 
	 
        require.config({
            paths: {
                echarts: '/Public/admin/assets/dist'
            }
        });
        require(
            [
                'echarts',
				'echarts/theme/macarons',
                'echarts/chart/line',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
                'echarts/chart/bar'
            ],
            function (ec,theme) {
                var myChart = ec.init(document.getElementById('main'),theme);
                
                option = {
                    title : {
                        text: '月购买订单交易记录',
                        subtext: '实时获取用户订单购买记录'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['所有订单','待支付','已付款','待签收']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'所有订单',
                            type:'bar',
                            data:[],
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            }           
                        },
                        {
                            name:'待付款',
                            type:'bar',
                            data:[26, 59, 30, 84, 27, 77, 176, 3000, 487, 188, 60, 23],
                            // data:[],
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'max', name: '最大值'}
                                ]
                            },
                           
                			
                        }
                		, {
                            name:'已付款',
                            type:'bar',
                            data:[26, 59, 60, 264, 287, 77, 176, 4000, 247, 148, 60, 23],
                            // data:[],
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'max', name: '最大值'}
                                ]
                            },
                           
                		}
                		, {
                            name:'待签收',
                            type:'bar',
                            data:[26, 59, 80, 24, 87, 70, 175, 5000, 48, 18, 69, 63],
                            // data:[],
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'max', name: '最大值'}
                                ]
                            },
                           
                		}
                    ]
                };
                
                option.series[0].data = order_all_l;
                option.series[1].data = notpay_order_l;
                option.series[2].data = pay_order_s;
                option.series[3].data = send_order_s;
                myChart.setOption(option);



            }
        );
    </script> 