/*loading*/
.loading{
    position:fixed;
    top:0;
    width:10rem;
    height:100%;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform:translateX(-50%);
    background-color:#fff;
    z-index: 997;
}
.loading-car{background: transparent;top: 50%;}
.spinner {
    margin: 3.6rem auto 0;
    width: 150px;
    text-align: center;
}
 
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #03b7cc;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  background-color: #fd0202;
}
 
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color:#7fda6d;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*搜索*/
.mui-content{padding-bottom: 80px;}
.mui-btn, button, input[type=button], input[type=reset], input[type=submit]{border-color:#fff;}
.search_div_y{width:10rem;height:42px;background-color:#fff;position:absolute;top:0;}
.input-search_y{
  width:8.266667rem;
  height:32px;
  background:#eee;
  position: absolute;
  top:5px;
  border-radius:8px;
  display: flex;
}
.input-search_y i{
  color:#9b9f9e;
  line-height: 32px;
  padding-left: 10px;
}
.input-search_y input{
  width:100%;
  outline: none;
  border:0;
  background:none;
  font-size:14px;
  text-align:left;
}

img{width:100%;display:block;}
.circle{position:relative;margin-top:42px;}
a.rule{position:absolute;top:0;right:0.8rem;width:2rem;height:1.066667rem;}
.results{position:absolute;top:2.8rem;right:.52rem;width:3.4rem;height:3rem;text-align:center;}
.resp{font-size:.3rem;line-height: .74rem;color:#ea5243;font-weight: 600;}
.resp+p{line-height: .7rem;}
@media screen and (max-width:320px){
   .resp{font-size:10px;line-height: 22px;}
}
.results span{background-color:#8d5b4e;padding:2px 8px;margin:2px;color:#fff;border-radius: 4px;}
/*商品列表*/
.store-li{width:100%;background-color:#fbfbfb;box-shadow: 2px 1px 10px #ccc;}
.content{margin-top:0.133333rem;padding-bottom: 0.666667rem;overflow-x:scroll;display:flex;margin-bottom:10px;}
.content>li{min-width:3.136rem;max-width:3.136rem;margin-left:0.142rem;background:#fff;padding-bottom: 2px;border-radius: 4px;box-shadow: 0px 1px 10px #ccc;margin-top: 4px;}
.content div{height:3rem;overflow: hidden;}
.content p{color:#333;padding-left:10px;line-height: .6rem;font-size:14px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis ;}
.content span{color:#d60000;padding-left:10px;font-size:12px;}
/*搜索页面*/
.search_content{
    width:10rem;
    position: fixed;
    top:0;
    height:100%;
    z-index: 998;
    background-color: rgba(0,0,0,.6);
    display:none;
}
.search_div{width:10rem;height:42px;background-color:#eee;position:fixed;top:0;}
.search{
    position: absolute;
    width:18%;
    right:0;
    font-size:14px;
    line-height: 42px;
    padding-left:10px;
    color:#0091ff;
    text-align:center;
}
.input-search{
  width:82%;
  height:32px;
  background:#fff;
  position: absolute;
  left:10px;
  top:5px;
  border-radius:8px;
  display: flex;
}
.input-search i{
  color:#9b9f9e;
  line-height: 32px;
  padding-left: 10px;
}
.input-search input{
  width:100%;
  outline: none;
  border:0;
  background:none;
  font-size:14px;
  text-align:left;
}
.search_data{margin-top:60px;}
.search_data .btn-clear{display:none;margin:0 auto;}
.record{margin-top:16px;padding:0 10px;}
.record .mui-btn{margin:0 6px 6px 0;max-width:9.2rem;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;}

/*选择规格页面*/
.specification{
    width:10rem;
    background:#fff;
    position:fixed;
    bottom:0;
    z-index: 1002;
    padding-bottom:1.8rem;
    display:none;
    bottom:-100%;
}
.specification-main{
    width:100%;
    overflow-y:scroll;
    max-height:280px;
    margin-top:0.28rem;
}
.specification-img{
    width:78px;
    height:78px;
    border-radius:4px;
    margin:-28px 0 0 5px;
    overflow:hidden;
}
.specification-img img{
    width:78px;
    height:78px;
}
.specification-mes{
    margin:-50px 0 0 86px;
    background:#fff;
}
.specification-mes p{
    color:#717171;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding:4px 36px 0 4px;
}
.specification-mes>p:last-child{color:#ff9200;}
.specification-mes span{color:#777;float:right;padding-right:10px;}
.specification .icon-guanbi{
    float:right;
    font-size:28px;
    margin:-30px 8px 0 0;
    color:#d9d9d9;
}
/*颜色分类*/
.specification-choose{
    margin-left:16px;
}
.specification-choose-ul{
    display:flex;
    margin:10px 0 10px 0;
    flex-wrap:wrap;
}
.specification-choose-ul li{
    padding: 3px 12px;
    margin:0 8px 8px 0;
    border:1px solid #ccc; /*变色#ff5000*/
    color:#333; /*变色#ff5000*/
}
.specification-num{
    width:9.146666rem;
    margin:0 auto;
    display: flex;
    height:38px;
    line-height: 38px;
    font-size:18px;
    justify-content: space-between;
}
.specification-num>div{display:flex;}
.specification-num button{width:36px;height:36px;border-radius: 0;font-size:18px;border-color:#d5d5d5;}
.specification-num .num{width:46px;height:36px;text-align:center;line-height:36px;border:1px solid #d5d5d5;border-left:0;border-right:0;font-size:14px;}

/*信息脚部*/
.specification-footer{
    width:95%;
    position:fixed;
    bottom:6px;
}
.specification-footer button{
   width:48%;
   height:1rem;
}
.specification-footer button:first-child{margin-right:2.5%;}
.title{max-height:4.213333rem;overflow:hidden;}