.mui-content{padding-bottom: 0;}
/*loading*/
.loading{
    position:fixed;
    top:1.2rem;
    width:10rem;
    height:100%;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform:translateX(-50%);
    background-color:#fff;
    z-index: 1008;
}
.spinner {
    margin: 100px auto 0;
    width: 150px;
    text-align: center;
}
 
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #03b7cc;
 
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  background-color: #fd0202;
}
 
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color:#7fda6d;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*外部容器*/
.container{
    width: 10rem;
    margin:0 auto;
    font-family:"微软雅黑","宋体";
}
/*导航栏*/
nav{
    width:10rem;
    height: 1.2rem;
    border-bottom:1px solid rgba(152,152,152,.2);
    background-color:#a47341;
    overflow: hidden;
    text-align:center;
    position: fixed;
    top:0;
    color:#fff;
    font-size:0.42666667rem;
    line-height:1.2rem;
    z-index: 999;
}
.order-header i{
    position: absolute;
    left:0;
    font-size:0.42666667rem;
    line-height: 1.2rem;
    padding-left:0.4rem;
    font-size:22px;
}
/*主体部分*/
/*订单信息*/
.content{
    margin-top: 0.133333rem;
    background:#fff;
}
.content>li{
    width: 100%;
    border-bottom: 1px solid rgba(125,125,125,.2);
    padding: 10px;
    font-size:16px;
}
.detspan{float:right;}
.detspan2{color:#777;}
.state{color:#ffbb3c;}
.btn-red {
    padding: 6px;
    line-height: 14px;
    margin-top: -6px;
}
.content-li{
    width:100%;
    height:3.2rem;
    border-bottom:1px solid rgba(152,152,152,.3);
    overflow: hidden;
    position:relative;
    min-height: 110px;
}
.order-num{
    height:46px;
    background-color:#fff;
    line-height: 46px;
    font-size:14px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(125,125,125,.2);
    color:#333;
}
@media only screen and (max-width:320px ) {
    .order-num{height:49px;line-height: 49px;}
}
.show{
    float:left;
    height: 2.4888rem;
    margin-top: 0.293333rem;
    margin-left: 10px;
    position: relative;
    color:#333;
}
.show p{
    margin-left:2.88rem;
    margin-top:0;
    width:5.066666rem;
    max-height:34px;
    line-height: 17px;
    overflow: hidden;
    font-size:14px;
    vertical-align: -10px;
}
.show .img{
  width: 2.533333rem;
  height:2.533333rem;
  float:left;
  overflow:hidden;
}
.img img{
    width:100%;
}
.show span{
    display: block;
    font-size:12px;
    color:#666666;
    text-indent:.34rem;
    white-space:nowrap;
    line-height: 16px; 
}
.show span:first-of-type{
    margin-top:0.186666rem;
}
.show span:last-child{
    font-size:16px;
    color:#d60000;
    position:absolute;
    bottom:-2px;
    left:2.54rem;
}
@media only screen and (max-width:320px ) {
    .show p{font-size:12px;}
    .show span:first-of-type{
    margin-top:0;
    }
    .show span:last-child{bottom:-4px;}
}

/*地址信息*/
.loc{
    background:#fff;
    display: flex;
    border-bottom:1px solid rgba(152,152,152,.3);
    margin-bottom: 0.133333rem;
}
.loc .icon-dizhi{
    color:#dcb581;
    font-size:0.666666rem;
    line-height: 1.68rem;
    margin-left:0.4rem;
}
.loc-mes{
    width:100%;
    padding:0 10px;
}
.loc-mes p:first-child{
    color:#333;
    padding-top:0.266666rem;
}
.loc-mes p:last-child{
    color:#777;
    padding:0.133333rem 0;
}
.loc-mes span{
    font-size:16px;
}
.loc-mes span:last-child{
    float:right;
}
/*物流跟踪*/
.logistics-p{
    margin-top:0.173333rem;
    background: #fff;
    height:1.066666rem;
    line-height: 1.066666rem;
    padding-left: .4rem;
    font-size:14px;
    border-bottom: 1px solid rgba(125,125,125,.2);
}
.logistics{
    background: #fff;
    padding:.4rem 0 2rem .4rem;
    color:#999;
}
.circle-line{
    width:10px;
    height:72px;
    display: flex;
    flex-direction: column;
}
.circle{
    width:10px;
    height:10px;
    background-color:#ccc;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.circle-yes{
    background-color: #25ae5f;
    -webkit-box-shadow: 0 0 2px 2px rgba(186,228,206,.8);;
    box-shadow: 0 0 2px 2px rgba(186,228,206,.8);
}
.circle-yes-p{
    color:#25ae5f;
}
.line{
    width:1px;
    height:62px;
    background-color:#ccc;
    margin:0 auto;
}
.logistics-li:last-of-type .line{
    display: none;
}
.logistics-li {
    display:flex;
}
.logistics-mes{
    margin-left:.4rem;
    margin-top:-0.163333rem;
    line-height: 18px;
}
.good-num {
    position: absolute;
    top: 0.293333rem;
    right: 10px;
    line-height: 17px;
    font-size: 14px;
    color: #666;
}