<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
	<script src='__PUBLIC__/jquery-2.1.4/jquery.min.js'></script>

<body>
	<form id="" action="javascript:void(0);">

		<button onclick="hujinchao()">提交</button>
	</form>
</body>

<script>

 function hujinchao() {



 		location.href = 'http://www.baidu.com/';

 }

// $.ajax({

// 	data: {id: 1},

// 	url: "{:U('Goods/aa')}",

// 	type: 'post',

// 	success: function(msg) {
// 		console.log(msg);
// 	}

// });
</script>
</html>