<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>满额优惠设置</title>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <link href="/Public/admin/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/Public/admin/css/style.css" />
        <link href="/Public/admin/assets/css/codemirror.css" rel="stylesheet">
        <link rel="stylesheet" href="/Public/admin/assets/css/ace.min.css" />
        <link rel="stylesheet" href="/Public/admin/font/css/font-awesome.min.css" />
        <!--[if lte IE 8]>
<link rel="stylesheet" href="/Public/admin/assets/css/ace-ie.min.css" />
<![endif]-->
        <script src="/Public/admin/js/jquery-1.9.1.min.js"></script>
        <script src="/Public/admin/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/Public/admin/js/H-ui.js"></script>
        <script src="/Public/admin/assets/js/typeahead-bs2.min.js"></script>
        <script src="/Public/admin/assets/js/jquery.dataTables.min.js"></script>
        <script src="/Public/admin/assets/js/jquery.dataTables.bootstrap.js"></script>
        <script src="/Public/admin/assets/layer/layer.js" type="text/javascript"></script>
        <script src="/Public/admin/assets/laydate/laydate.js" type="text/javascript"></script>
        <script src="/Public/admin/assets/js/jquery.easy-pie-chart.min.js"></script>
        <script src="/Public/admin/js/lrtk.js" type="text/javascript"></script>
        <style>
            .custom_page_header {
                border-bottom-color: #d5e3ef;
                line-height: 28px;
                margin-bottom: 5px;
                margin-top: 10px;
                padding-left: 15px;
                padding-bottom: 4px;
                border-bottom: 1px solid #CCC;
                color: #478fca!important;
                font-weight: lighter;
                font-size: 21px;
                font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child){margin:0;}
        </style>
    </head>

    <body>

<div class="main">
    <form id="dataform" action="/index.php/Admin/Coupon/FullSet" method="post" class="form-horizontal form">
        <div class="panel">
           <h3 class="custom_page_header">满额优惠设置 </h3>
            <div class="panel-body">
                    <div class="form-group">
                       <label class="col-xs-12 col-sm-3 col-md-2 control-label">满额包邮</label>
                       <if condition="$sys_res.SR_FreeShipping eq 1">
                         <div class="col-sm-9 col-xs-12">
                             <label class="radio-inline">
                                 <input type="radio" name="enoughfree" value="1" checked=""> 开启
                             </label>
                             <label class="radio-inline">
                                 <input type="radio" name="enoughfree" value="0"> 关闭
                              </label>
                             <span class="help-block">开启满包邮, 订单总金额超过多少可以包邮</span>
                         </div>
                       <else />
                        <div class="col-sm-9 col-xs-12">
                             <label class="radio-inline">
                                 <input type="radio" name="enoughfree" value="1"> 开启
                             </label>
                             <label class="radio-inline">
                                 <input type="radio" name="enoughfree" value="0" checked=""> 关闭
                              </label>
                             <span class="help-block">开启满包邮, 订单总金额超过多少可以包邮</span>
                         </div>
                       </if>
                   </div> 
                
                  <div class="form-group">

                       <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                       <div class="col-sm-4">
                          <div class="input-group">
                             <span class="input-group-addon">单笔订单满</span>
                             <input type="text" name="enoughorder" value="{$sys_res.SR_FullToPostage}" class="form-control">
                             <span class="input-group-addon">元</span>
                           </div>
                           <span class="help-block">如果开启满额包邮，设置0为全场包邮</span>
                          
                       </div>
                   </div> 
                
                
                  <div class="form-group">
                       <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                       <div class="col-sm-9 col-xs-12">
                           <div id="areas" class="form-control-static"></div>
                           <!-- <a href="javascript:;" class="btn btn-default" onclick="selectAreas()">添加不参加满包邮的地区</a> -->
                           <!-- <input type="hidden" id="selectedareas" name="data[enoughareas]" value=""> -->
                         
                       </div>
                   </div> 
                   <!-- <div class="form-group">
                       <label class="col-xs-12 col-sm-3 col-md-2 control-label">满额减</label>
                       <div class="col-sm-4">
                          <div class="input-group">
                             <span class="input-group-addon">单笔订单满</span>
                             <input type="text" name="data[enoughmoney]" value="" class="form-control">
                             <span class="input-group-addon">元 立减</span>
                             <input type="text" name="data[enoughdeduct]" value="" class="form-control">
                             <span class="input-group-addon">元</span>
                             <div class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                          </div>
                       </div>
                   </div>  -->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">满额减</label>
                    <div class="col-sm-4">
                        <div class="recharge-items">
                          <foreach name="res" item="vo">
                              <div class="input-group recharge-item"  style="margin-top:5px">
                                <span class="input-group-addon">单笔订单满</span>
                                <input type="text" class="form-control" name="enough[]" value="{$vo.FR_FullMoney}"/>
                                <span class="input-group-addon">元 立减</span>
                                <input type="text" class="form-control" name="give[]" value="{$vo.FR_ReduceMoney}"/>
                                <span class="input-group-addon">元</span>
                                <div class="input-group-btn">
                                    <button class="btn btn-danger" onclick="removeRechargeItem(this)"><i class="fa fa-remove"></i></button>
                                </div>
                              </div>
                          </foreach>
                        </div>  
                        <div style="margin-top:5px"> 
                          <button type="button" class="btn btn-default" onclick="addConsumeItem()" style="margin-bottom:5px"><i class="fa fa-plus"></i> 增加优惠项</button>
                        </div>
                        <span class="help-block">两项都填写才能生效</span>
                    </div>
                </div>  
              
             
                <div class="form-group"></div>
                   <div class="form-group">
                     <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                     <div class="col-sm-9 col-xs-12">
                           <input type="submit" name="submit" value="保存设置" class="btn btn-primary">
                     </div>
                    </div>
            </div>
        </div>
    </form>
</div>
    </body>
<script language="javascript">
    function addConsumeItem(){
        var html= '<div class="input-group recharge-item"  style="margin-top:5px">';
            html+='<span class="input-group-addon">单笔订单满</span>';
            html+='<input type="text" class="form-control" name="enough[]"  />';
            html+='<span class="input-group-addon">元 立减</span>';
            html+='<input type="text" class="form-control"  name="give[]"  />';
            html+='<span class="input-group-addon">元</span>';
            html+='<div class="input-group-btn"><button class="btn btn-danger" onclick="removeRechargeItem(this)"><i class="fa fa-remove"></i></button></div>';
          html+='</div>';
    $('.recharge-items').append(html);
    }
    function removeRechargeItem(obj){
        $(obj).closest('.recharge-item').remove();
    }
    </script>
</html>